@font-face {
  font-family: "Akrobat";
  src: url("./fonts/akrobat-thin-webfont.woff") format("woff");
  font-family: "Akrobat-regular";
  src: url("./fonts/akrobat-regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  font-family: Akrobat;
}
