.container-products-list {
  position: absolute;
  font-family: Akrobat-regular;
  z-index: 1;
}

.nav-bar-products {
  background: #ffffff;
  background: rgba(255, 255, 255, 1);
  border-style: Solid;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 66px;
  width: 100vw;
  height: 83px;
  filter: alpha(opacity=60) progid: DXImageTransform.Microsoft.Alpha(opacity=60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-bar-products img {
  z-index: 3;
  width: 81px;
  height: 65px;
  margin-left: 23px;
}

.nav-bar-links {
  font-size: 22px;
}

.user-products {
  margin-right: 53px;
  font-size: 18px;
}

.expenses-table {
  margin-top: 48px;
  font-size: 25px;
}

.total-view {
  background: #c1272d;
  background: rgba(193, 39, 45, 1);
  border-style: Solid;
  border-color: #8c1619;
  border-color: rgba(140, 22, 25, 1);
  border-width: 1px;
  position: absolute;
  left: 90%;
  top: 160px;
  width: 257px;
  height: 48px;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

table {
  width: 80vw;
  margin: auto 128px;
}
.table-line-border {
  width: 80vw;
  height: 9px;
  background: #000000;
  background: rgba(0, 0, 0, 1);
  opacity: 0.9;
  position: absolute;
  filter: alpha(opacity=64) progid: DXImageTransform.Microsoft.Alpha(opacity=64);
}

tbody tr:nth-child(even) {
  background: rgba(87, 107, 140, 0.5);
}

tbody tr:nth-child(odd) {
  background: rgba(179, 179, 179, 0.5);
}

tbody tr td {
  height: 30px;
}

.exp-filters {
  margin-left: 107px;
  margin-top: 166px;
}
.exp-filters button {
  background: #576b8c;
  background: rgba(87, 107, 140, 1);
  opacity: 0.8;
  width: 129px;
  height: 48px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  color: #fff;
  font-size: 22px;
  margin: 8px;
  filter: alpha(opacity=80) progid: DXImageTransform.Microsoft.Alpha(opacity=80);
}

.exp-filters label {
  font-size: 22px;
  margin-left: 30px;
}

.exp-filters select {
  background: #ffffff;
  background: rgba(255, 255, 255, 1);
  border-style: Solid;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  opacity: 0.8;

  height: 33px;
  border-radius: 9px;
  font-size: 18px;
  padding: 5px;
  margin-left: 6px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  filter: alpha(opacity=80) progid: DXImageTransform.Microsoft.Alpha(opacity=80);
}

.edit:hover {
  cursor: pointer;
}

.del:hover {
  cursor: pointer;
}
