.product-container {
    position: absolute;
    width: 1080px;
    height: 720px;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-left: -540px;
    transition: all 1000ms;
    display: flex;
    flex-direction: row;
    background: -moz-linear-gradient(
      49.03% 106.48% 89.22deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(87, 107, 140, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      89.22deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(87, 107, 140, 0.5) 100%
    );
    background: -webkit-gradient(
      linear,
      49.03% 106.48%,
      51.22% -20.65%,
      color-stop(0, rgba(255, 255, 255, 1)),
      color-stop(1, rgba(87, 107, 140, 0.5))
    );
    background: -o-linear-gradient(
      89.22deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(87, 107, 140, 0.5) 100%
    );
    background: -ms-linear-gradient(
      89.22deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(87, 107, 140, 0.5) 100%
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#576B8C' ,GradientType=0)";
    background: linear-gradient(
      0.78deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(87, 107, 140, 0.5) 100%
    );
    opacity: 0.85;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    filter: alpha(opacity=85) progid: DXImageTransform.Microsoft.Alpha(opacity=85)
      progid:
      DXImageTransform.Microsoft.gradient(
        startColorstr= "#FFFFFF",
        endColorstr= "#576B8C",
        GradientType=1
      );
  }
  
  .logo {
    margin: 0 auto;
    margin-top: 200px;
    width: 360px;
    height: 300px;
    z-index: 1;
  }

  .product-input {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  
  }
  
  .product-input input {
    display: block;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 20px;
    width: 400px;
    height: 55px;
    background: #576b8c;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    filter: alpha(opacity=50) progid: DXImageTransform.Microsoft.Alpha(opacity=50);
  }
  
  .product-input input::placeholder {
    font-family: Akrobat-regular;
    font-size: 21px;
    color: #1b1b1b;;
    opacity: 1;
    padding: 10px;
  }
  .product-input [type="email"],
  [type="text"] {
    font-family: Akrobat-regular;
    font-size: 21px;
    color: #1b1b1b;
  }
  
  .product-input button {
    display: block;
    font-family: Akrobat-regular;
    font-size: 33px;
    background: #484c5d;
    background: #2b2a2a;
    color:#fff;
    width: 400px;
    height: 55px;
    margin: 50px;
    margin-top: 20px;
    opacity: 0.9;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    filter: alpha(opacity=60) progid: DXImageTransform.Microsoft.Alpha(opacity=60);
    border: none;
  }
  .product-input button:hover {
    display: block;
    font-family: Akrobat-regular;
    font-size: 33px;
    background: #ffffff;
    background: rgb(66, 66, 66);
    width: 400px;
    height: 55px;   
    margin: 50px;
    margin-top: 20px;
    opacity: 0.9;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    filter: alpha(opacity=60) progid: DXImageTransform.Microsoft.Alpha(opacity=60);
    cursor: pointer;
  }

  