.about {
  position: absolute;
  font-size: 16px;
  right: 3%;
  top: 1%;
  text-decoration: underline;
  z-index: 1;
  color: #7783a7;
}

.about:hover {
  position: absolute;
  font-size: 16px;
  right: 3%;
  top: 1%;
  text-decoration: underline;
  cursor: pointer;
  color: #37415c;
}
